

/* Header styles */
header {
    background-color: #ffffff;
    border-bottom: 1px solid orange;
    padding: 0;
   
}

a{
    color: black;
}
a:hover{
    background-color: orange;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

a.logo {
    font-size: 24px;
    color: #fc8019;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
}

nav ul{
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: flex;
}

